<%= render 'header' %>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12">
      <h1>goalzzz</h1>

        <%= form_tag sessions_path, :method => 'post' do %>
          <%= label_tag :email, "Email: " %>
          <%= text_field_tag :email %><br />

          <%= label_tag :password, "Password: " %>
          <%= password_field_tag :password %><br />

          <%= submit_tag "Sign In"%>
        <% end %>
    </div>
  </div>
</div>
