<% if @result.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@result.errors.count, "error") %>
      prohibited this post from being saved:
    </h4>

    <ul>
    <% @result.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@goal, @result] do |f| %>
  <p>
    <%= f.label :date, "Date: " %>
    <%= f.date_field :date %><br />
    <%= f.label :status, "Result: " %>
    <%= f.select :status, Result.statuses.keys %>
  </p>

  <p>
    <%= f.fields_for :reflections do |refl| %>
        <%= refl.label "Notes:" %><br />
        <%= refl.text_area :content, size: "40x10" %><br>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
