<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <h1><%= @goal.description %></h1>
    <h3> Results for <%= @result.date.strftime("%_m/%d/%Y") %>: <%= @result.status.upcase %></h3>

    <% if @result.reflections %>
      <% @result.reflections.each do |refl| %>
        <p class="button"><%= refl.content %></p>
      <% end %>
    <% end %>

    <p class="menu"><%= link_to "Return to all results", goal_path(@goal) %></p>
    <p><%= link_to "Edit This Result", edit_goal_result_path(@goal, @result) %></p>

  </div>
</div>
