<p>Your current success streak is <%= goal.current_success_streak %> <%= interval %><%= "s" if goal.current_success_streak > 1 %>!
   Your longest success streak is <%= goal.longest_streak %> <%= interval %><%= "s" if goal.longest_streak > 1 %>.</p>
