<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <h1>Edit Your Goal: <%= @goal.description %></h1>

    <%= render 'form' %>

    <%= form_tag goal_path(@goal), method: "delete" do %>
      <%= submit_tag "Delete This Goal" %>
    <% end %>

  </div>
</div>
