<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <h1><%= current_user.name %>'s <%= 'Completed' if @completed %> Goals</h1>

    <div class="row">
      <%= render partial: "goal-priority-col", locals: {col_header: "High Priority", goals: @high_priority_goals} %>
      <%= render partial: "goal-priority-col", locals: {col_header: "Medium Priority", goals: @medium_priority_goals} %>
      <%= render partial: "goal-priority-col", locals: {col_header: "Low Priority", goals: @low_priority_goals} %>
    </div>

    <% if @completed %>
      <p class="menu"><%= link_to "Return to all goals", goals_path %></p>
    <% else %>
      <p class="menu"><%= link_to "View all completed goals", completed_goals_path %></p>
    <% end %>
    <p><%= link_to "Set a new goal", new_goal_path %></p>

  </div>
</div>
