<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <!-- GOAL SUMMARY INFO -->
    <h1><%= @goal.description %></h1>

    <!-- STATS -->
    <% if @goal.percent_complete >= 100 %>
      <p>This goal is complete! Your success rate was <%= @goal.success_rate.round(1) %>%.</p>
    <% else %>
      <p>You're <%= @goal.percent_complete.round(1) %>% done, with a <%= @goal.success_rate.round(1) %>% success rate so far!</p>
    <% end %>

    <% if @goal.interval == "monthly" %>
      <%= render partial: "success_streak", locals: {interval: "month", goal: @goal} %>
    <% elsif @goal.interval == "weekly" %>
      <%= render partial: "success_streak", locals: {interval: "week", goal: @goal} %>
    <% else %>
      <%= render partial: "success_streak", locals: {interval: "day", goal: @goal} %>
    <% end %>

    <p><%= link_to "Update your results", new_goal_result_path(@goal) %></p>

    <div class="row">

      <!-- GENERATES ALL DATES IN RANGE FOR RESULTS DISPLAY -->
      <% generate_date_range(@goal.start_date, @goal.end_date, @goal.interval).each do |date| %>

          <!-- NO RESULT -->
          <% if !@goal.result_by_date(date) %>
            <%= render partial: "color_block", locals: {css: "blank-result", goal: @goal, result_exists: false, date: date} %>

          <!-- RESULT: SUCCESS -->
          <% elsif @goal.result_by_date(date) && @goal.result_by_date(date).status == "success" %>
            <%= render partial: "color_block", locals: {css: "green-result", goal: @goal, result_exists: true, date: date} %>

          <!-- RESULT: FAILURE -->
          <% else %>
            <%= render partial: "color_block", locals: {css: "red-result", goal: @goal, result_exists: true, date: date} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- REFLECTIONS -->
<div class="row">
  <div class="col-12 secondary">
    <h3>Your Thoughts So Far</h3>
    <% @goal_reflections.each do |refl| %>
      <div class="row">
        <div class="col-2">
          <%= refl.result.date.strftime("%_m/%d/%Y") %>
        </div>

        <div class="col-10 notes-col<%= "-success" if refl.result.status == "success" %>">
          <%= refl.content %>
        </div>
      </div>
    <% end %>

    <p class="menu"><%= link_to "Return to all goals", goals_path %></p>
    <p><%= link_to "Edit this goal", edit_goal_path(@goal) %></p>
  </div>
</div>







  </div>
</div>
