<%= render 'users/header' %>

<div class="row">
  <div class="col-12 main">

    <h1><%= @goal.description %></h1>

    <p>You're <%= @goal.percent_complete.round(1) %>% done, with a <%= @goal.success_rate.round(1) %>% success rate so far!</p>
    <p><%= link_to "Update your results", new_goal_result_path(@goal) %></p>

    <div class="row">
      <% generate_date_range(@goal.start_date, @goal.end_date, @goal.interval).each do |date| %>
          <% if !@goal.result_by_date(date) %>
            <div class="col-1 blank-result">
              <strong><%= date.strftime("%_m/%d") %></strong>
            </div>
          <% elsif @goal.result_by_date(date) && @goal.result_by_date(date).status == "success" %>
            <div class="col-1 green-result">
              <strong><%= link_to "#{date.strftime("%_m/%d")}", goal_result_path(@goal, @goal.result_by_date(date)) %></strong><br />
            </div>
          <% else %>
            <div class="col-1 red-result">
              <strong><%= link_to "#{date.strftime("%_m/%d")}", goal_result_path(@goal, @goal.result_by_date(date)) %></strong><br />
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 secondary">
    <h3>Your Thoughts So Far</h3>
    <% @goal_reflections.each do |refl| %>
      <div class="row">
        <div class="col-2">
          <%= refl.result.date.strftime("%_m/%d/%Y") %>
        </div>

        <div class="col-10 notes-col<%= "-success" if refl.result.status == "success" %>">
          <%= refl.content %>
        </div>
      </div>
    <% end %>

    <p class="button"><%= link_to "Edit this goal", edit_goal_path(@goal) %></p>
  </div>
</div>







  </div>
</div>
