<%= render 'users/header' %>

<h1><%= @goal.description %></h1>

<p>Progress:<br />

<div class="row">

  <div class="col-4">
    Date:
  </div>

  <div class="col-4">
    Result:
  </div>

  <div class="col-4">
    Notes:
  </div>
</div>

<% @goal.results.each do |result| %>
  <div class="row">
    <div class="col-4">
      <%= "#{result.date}" %>
    </div>
    <div class="col-4">
      <%= "#{result.status}" %>
    </div>
  </div>
<% end %>
  <br /><%= link_to "Update your results.", new_goal_result_path(@goal) %>
</p>
